@model List<Menu.Models.Dish>
@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6 mb-4">
                <div class="d-flex justify-content-center">
                    <h4>@item.Name</h4>
                </div>
                <div class="d-flex justify-content-center mb-2" style="height: 300px;">
                    <img src="@item.ImageUrl" style="width: auto; height: 100%;" />
                </div>
                <div class="d-flex justify-content-center mb-2">
                    @item.Price.ToString("N2") Kroner
                </div>
                <div class="d-flex justify-content-center mb-4">
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Vælg ret</a>
                </div>
            </div>
        }
    </div>
</div>
